



dl{
margin-left:20%;
margin-right:20%
}

dt{
font-family:"Times New Roman", Times, serif;
font-size:18px;
font-style:oblique;
color:#003366;
margin-top:5%

}

dd{
margin-top:2%
}