<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<meta name="Description" content="RoadMate - Car Pooling, Ride Sharing" />
<meta name="Keywords" content="carpool, ride, ride share, rideshare, roadmate" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Distribution" content="Global" />
<meta name="Author" content="159.356 Software Engineering C, Group A" />
<meta name="Robots" content="index,follow" />


<script src="http://www.google.com/jsapi?key=ABQIAAAAh9vEamNAbo2MjViKEXyTSBQtrj2yXU7uUDf9MLK2OBnE3PD31hQrtHqCrQiA2FONyyl-gzfE04lUdA" type="text/javascript">
</script>

<script type="text/javascript" src="cal/jquery-1.1.4.pack.js"></script>

<script src="cal/cal_Auth.js"></script>


<link rel="stylesheet" href="stylesheets/higher_ground.css" type="text/css" />

<title>RoadMate - {% block title %}{% endblock %}</title></head>

<body >
<!-- wrap starts here -->
<div id="wrap">

	<div id="top-bg"></div>

	<!--header -->
	<div id="header">

		<h1 id="logo-text"><a href="index.html" title="">Road<span>Mate</span></a></h1>

		<div id="header-links">
		<p>
			{% if isLoggedIn %}
				<a href="{{ logout_url }}">Log Out</a>
			{% else %}
				<a href="{{ login_url }}">Log In</a> |
				<a href="{{ login_url }}">Register</a>
			{% endif %}
		</p>
		</div>
	<!--header ends-->
	</div>

	<div id="header-photo"></div>

	<!-- navigation starts-->
	<div id="nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/profile">My Profile</a></li>
			<li><a href="/support">Support</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	<!-- navigation ends-->
	</div>

	<!-- content-wrap starts -->
	<div id="content-wrap">

		<div id="main">

			{% block main %}{% endblock %}

		<!-- main ends -->
		</div>

		<div id="sidebar">
			
			<ul class="sidemenu">
				<li><a href="/">Home</a></li>
				<li><a href="/profile">My Profile</a></li>
				<li><a href="/rideoffer_create">Offer A Ride</a></li>
				<li><a href="/profile">Manage My Rides</a></li>
				<li><a href="/profile">Rides I'm Taking</a></li>
				<li><a href="/browse">Browse All Rides</a></li>
			</ul>
			
			<div class="admenu">
				<h3>Google Ads</h3>
				<ul class="sidemenu">
					<li><a href="http://www.4templates.com/?aff=ealigam"><strong>4templates</strong></a> <br /> Low Cost Hi-Quality Templates</li>
					<li><a href="http://store.templatemonster.com?aff=ealigam"><strong>TemplateMonster</strong></a> <br /> Delivering the Best Templates on the Net!</li>
					<li><a href="http://tinyurl.com/3cgv2m"><strong>Text Link Ads</strong></a> <br /> Monetized your website</li>
					<li><a href="http://www.fotolia.com/partner/114283"><strong>Fotolia</strong></a> <br /> Free stock images or from $1</li>
					<li><a href="http://www.dreamstime.com/res338619"><strong>Dreamstime</strong></a> <br /> Lowest Price for High Quality Stock Photos</li>
					<li><a href="http://www.dreamhost.com/r.cgi?287326"><strong>Dreamhost</strong></a> <br /> Premium webhosting</li>
				</ul>
			</div>

		<!-- sidebar ends -->
		</div>


	<!-- content-wrap ends-->
	</div>

	<!-- footer starts -->
	<div id="footer-wrap">

		<div id="footer-columns">
		<!--
			<div class="col3">
				<h3>Home</h3>
				<ul>
					<li><a href="./index.html">Home</a></li>

				</ul>
			</div>

			<div class="col3-center">
				<h3>User</h3>
				<ul>
					<li><a href="./profile">My Profile</a></li>
					<li><a href="./profile">My Rides</a></li>

				</ul>
			</div>

			<div class="col3">
				<h3>Help</h3>
				<ul>
					<li><a href="./support">Support</a></li>
					<li><a href="./about">About us</a></li>

				</ul>
			</div>

		footer-columns ends -->
		</div>

		<div id="footer-bottom">

			<p>
			&copy; 2008 <strong>RoadMate</strong> |
			159.356 Software Engineering C [Group A]

			<a href="http://www.massey.ac.nz">Massey University</a> <br/>
			Templates by <a href="http://www.styleshout.com/">styleshout</a> |
			Powered by <a href="http://appengine.google.com/">Google App Engine</a> |
			Valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a> |
			<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>


   		</p>

		</div>

<!-- footer ends-->
</div>
<!-- wrap ends here -->
</div>

</body>
</html>
