{% extends "templates/base.html" %}

{% block title%}About{% endblock %}

{% block main %}


<h2>about us</h2>
<p class="p1">RoadMate is a carpooling web site providing you with the opportunity to share car rides NewZealandWide.
You can enjoy rides as a passenger or save yourself a few bucks by helping oters to get places. <a href="support.html">More on the Support page</a>
</p>
<p>
Our goal is to save petrol, save you money, reduce havey traffic and keep NewZealand green. We hope you'll all have wonderful trips and make new RoadMates.
</p>
<h2>contact us</h2>
<p>
<table width="512" border="0">

    <td colspan="3">Contact Center:</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Name:</td>
    <td>XXXXX</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Phone:</td>
    <td>06XXXX</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Email:</td>
    <td><a href="mailto:roadmate@rd.com">roadmate@rd.com</a></td>
  </tr>
</table>
 
</p>

{% endblock %}