{% extends "templates/base.html" %}

{% block title%}View Seat{% endblock %}

{% block main %}
	<h2>View Seat</h2>
	<p> <!-- seat --!>
			<strong>Ride</strong> <a href="/ride?id={{ seat.ride.key.id }}">{{ seat.ride.rideoffer.source.name }} to {{ seat.ride.rideoffer.destination.name }} on {{ seat.ride.date }}</a><br />
			<strong>Passenger</strong>{% if seat.passenger %} <a href="/profile?user={{ seat.passenger.key.id }}">{{ seat.passenger.user.email }}</a> }} {% else %} Not assigned {% endif %}
	</p>



{% endblock %}