{% extends "templates/base.html" %}

{% block title%}About{% endblock %}

{% block main %}


<h2>about us</h2>
<p class="p1">RoadMate is a carpooling web site. we are a non-profit organisation ,provides free service for sharing cars in NewZealand.
You are free to search all trips and also share your cars. <a href="support.html">more on support page</a>
</p>
<p>
Our goal is to save petrol,save money,reduce havey traffic follow ,keep NewZealand green. We hope you all have wonderful trips and make new RoadMates.
</p>
<h2>contact us</h2>
<p>
<table width="512" border="0">

    <td colspan="3">Contact Center:</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Name:</td>
    <td>XXXXX</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Phone:</td>
    <td>06XXXX</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Email:</td>
    <td><a href="mailto:roadmate@rd.com">roadmate@rd.com</a></td>
  </tr>
</table>
 
</p>

{% endblock %}