{% extends "templates/base.html" %}

{% block title%}About{% endblock %}

{% block main %}

<h2>about us</h2>
<p class="p1">RoadMate is a carpooling web site providing you with the opportunity to share car rides New Zealand wide.
You can enjoy rides as a passenger or save yourself a few bucks by helping others to get places. Find out more on the <a href="/support">Support page</a>.
</p>
<p>
Our goal is to save petrol, save you money, reduce heavy traffic and keep New Zealand green. We hope you'll all have wonderful trips and make some new RoadMates.
</p>
<h2>contact us</h2>
<p>
<table width="512" border="0">

  <td colspan="3">Contact Center:</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Name:</td>
    <td>XXXXX</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Phone:</td>
    <td>XXXXX</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Email:</td>
    <td><a href="mailto:support@roadmate.com">support@roadmate.com</a></td>
  </tr>
</table>
 
</p>

{% endblock %}