{% extends "templates/base.html" %}

{% block title%}Browse All Rides{% endblock %}

{% block main %}
<h2>browse rides</h2>

<p>#TODO description of this page goes here.</br>
maybe we could put some controls here to limit the results
by date occurring or date created?
</p>
{% if rides %}
	<table>
		<tr>
			<th>Ride</th>
			<th>Date</th>
			<th>Owner</th>
			<th>Status</th>

		</tr>

			{% for ride in rides %}
			<tr class="row-a">
				<td><a href="/ride?id={{ride.key.id}}">{{ride.get_name}}</a></td>
				<td><a href ="/profile?user={{ride.owner.key.id}}">{{ride.owner.user.email|local_part_from_email }}</a></td>
				<td>{{ride.date}}</td>
				<td>{{ride.status }}</td>

			</tr>
			{% endfor %}
	</table>
{% else %}
   <h3>Sorry, there are currently no rides available.</h3>
   <p>Why not <a href="/ride_create">offer a ride</a> of your own</p>
{% endif %}




{% endblock %}

