{% extends "templates/base.html" %}

{% block title%}feedback{% endblock %}

{% block main %}
	<h2>feedback</h2>
	<h3>{{target_user.get_name_tag}}</h3>

	{% if feedback_list %}
	<p>
	     <strong>Positive Feedback</strong> {{count_positive}} <br/>
	     <strong>Neutral Feedback</strong> {{count_neutral}} <br/>
 	     <strong>Negative Feedback</strong> {{count_negative}} <br/>
	</p>

		<table class="roadmate-list">
			{% for feedback in feedback_list %}
			<tr class="list-item">
				<tr class="list-heading">
	    			<td width="12">
						{{feedback.icon}}
	     			</td>
	     			<td >
						{{feedback.author.get_name_tag}} ({{ feedback.role }})
	     			</td>
	     			<td >
						{{ feedback.created|date_for_table }}
	     			</td>
				</tr>
				<tr class="list-heading">
				    <td colspan=3>
					<a href="/ride?id={{ feedback.ride.key.id }}">{{ feedback.ride.get_name }}</a>
					</td>
				</tr>
				<tr class="list-row">
					<td colspan=3>
						{{feedback.text}}
					</td>
				</tr>
			</tr> <!-- end list item -->
			{% endfor %}
		</table>
	{% else %}
	   <h3>Sorry, this user has no feedback at the moment</h3>
	{% endif %}

<p /><hr /><p />

{% endblock %}


