{% extends "templates/base.html" %}

{% block title%}Home{% endblock %}

{% block main %}

			
<blockquote>
		<p>Why drive by yourself, have some company, Save on Petrol for yourself and others....</p>
</blockquote

<a name="RoadMate"></a>
	<h2>RoadMate it!!</h2>

				
		<p><strong>Our</strong> aim is to provide the community with a car pooling service that will facilitate 
			travelling. why not to share a ride and save yourself and others the rising costs of
			petrol and also it's good to have some accompany during travel, especially if you are travelling for long
			hours..so <a href="profile_edit">Sign up</a> today for an account and join our community</p>

		<p>Good luck and I hope you enjoy the experience!</p>
				


<h2> Latest Offered Rides </h2>


<table>
	<tr>
		<th>Source</th>
		<th>Destination</th>
		<th>Date</th>
		<th>Available Seats</th>
		<th></th>
	</tr>
	{% for ride in rides %}
	<tr class="row-a">
		<td>{{ride.source.name}}</td>
		<td>{{ride.destination.name}}</td>
		<td>{{ride.date}}</td>
		<td>{{ride.available_seats}}</td>
		<td><a href="/rideoffer?id={{ride.key.id}}">View</a> </td>
	</tr>
	{% endfor %}
	

</table>

				
								
{% endblock %}