{% extends "templates/base.html" %}

{% block title%}Home{% endblock %}

{% block main %}

			
<blockquote>
		<p>why drive by yourself, have some company, save on petrol for yourself and others....</p>
</blockquote

<a name="RoadMate"></a>
	<h2>RoadMate it!!</h2>
		
	<p><strong>Our</strong> aim is to provide the community with a car pooling service that will facilitate 
		travelling. why not to share a ride and save yourself and others the rising costs of
		petrol and also it's good to have some company during travel, especially if you are travelling for long
		hours..so <a href="{{ login_url }}">Sign up</a> today for an account and join our community</p>

	<p>Good luck and I hope you enjoy the experience!</p>			



				
								
{% endblock %}