{% extends "templates/base.html" %}

{% block title%}My Booked Rides{% endblock %}

{% block main %}
	<h2>my booked rides</h2>
       	<p>These are the rides that you have been accepted as a passenger on.<br/>
		   Rides you have requested to be a passenger on until
		you have been accepted as a passenger by the driver of that ride.</p>

	{% if my_booked_seats %}
		<table class="roadmate-list">
			{% for seat in my_booked_seats %}
				<tr class="list-item">
				    <tr class="list-row">
				        {% if not seat.ride.is_full %}<th rowspan="2" class="list-header"></th>{% else %}<th rowspan="2" class="list-header-red"> {% endif %}
		    			<td> {{seat.ride.date|date_for_table }}</td>
		     			<td> {{seat.ride.owner.get_name_tag}} </td>
		     			<td> {{seat.ride.status}} </td>
					</tr>
				    <tr class="list-row">
					    <td colspan=3><strong><a href="/ride?id={{ ride.key.id }}">{{ seat.ride.get_name }}</strong></a>
						</td>
					</tr>
				</tr> <!-- end list item -->

			{% endfor %}
	</table>

	{% else %}
	   <p />
	   <h3>You have no rides booked.</h3>
	   <p>Looking for a ride? Try <a href="/browse_rides">browse all rides</a>.</p>

	{% endif %}

{% endblock %}
