{% extends "templates/base.html" %}

{% block title%}Manage My Rides{% endblock %}

{% block main %}
	<h2>manage my rides</h2>
		<p>These are the rides that you currently offer.<br/>
		Click each ride to see its full details, where you can view comments, reply to questions,
		approve passengers, or you can cancel the ride if your plans have changed.</p>
	{% if my_rides %}
	<table class="roadmate-list">
			{% for ride in my_rides %}
				<tr class="list-item">
				    <tr class="list-row">
				        {% if not ride.is_full %}<th rowspan="2" class="list-header"></th>{% else %}<th rowspan="2" class="list-header-red"> {% endif %}
		    			<td> {{ride.date|date_for_table }}</td>
		     			<td> {{ride.owner.get_name_tag}} </td>
		     			<td> {{ride.status}} </td>
					</tr>
				    <tr class="list-row">
					    <td colspan=3><strong><a href="/ride?id={{ ride.key.id }}">{{ ride.get_name }}</strong></a>
						</td>
					</tr>
				</tr> <!-- end list item -->

			{% endfor %}
	</table>


	{% else %}
	   <p />
	   <h3>You currently offer no rides.</h3>
	   <p>Would you like to host a ride? Go to <a href="/create_ride">Offer A Ride</a></p>

	{% endif %}

{% endblock %}


