{% extends "templates/base.html" %}

{% block title%}My Profile{% endblock %}

{% block main %}
	<h2>My Profile</h2>
	<h3>{{ target_user.first_name }} {{ target_user.last_name }}</h3>
	
	<p>
		<code>
						
			<strong>Email:</strong> {{ target_user.user.email }}<br /><br />

			{% if target_user.town.name %}
				<strong>Hometown:</strong> {{ target_user.town.name }}<br /><br />
			{% endif %}

			{% if target_user.phone %}
				<strong>Phone:</strong> {{ target_user.phone }}<br /><br />
			{% endif %}
			
		</code>
	</p>
	
	<p class="post-footer">	
	
		<a href= "/profile?user={{ target_user.key.id }}&edit=True">Edit</a> 	
	</p>

	<h2>My Rides</h2>

	<table>
		<tr>
			<th>Source</th>
			<th>Destination</th>
			<th>Date</th>
			<th>Available Seats</th>
			<th></th>
			{% ifequal target_user current_user %}
			<th></th> <!-- Create edit link column -->
			{% endifequal %}
		</tr>
	{% for ride in rides %}
	<tr class="row-a">
		<td>{{ride.source.name}}</td>
		<td>{{ride.destination.name}}</td>
		<td>{{ride.date}}</td>
		<td>{{ride.available_seats}}</td>
		<td><a href="/rideoffer?id={{ride.key.id}}">View</a> </td>
		{% ifequal target_user current_user %}
		<td><a href="/rideoffer?id={{ride.key.id}&edit=True">Edit</a> </td>
		{% endifequal %}
	</tr>
	{% endfor %}
	

</table>
{% endblock %}