{% extends "templates/base.html" %}

{% block title%}My Profile{% endblock %}

{% block main %}
	{% ifequal target_user current_user %}
		<h2>my profile</h2>
	{% else %}
		<h2>user profile</h2>
	{% endifequal %}
	
	{% if target_user.first_name and target_user.first_name %}
		<h3>{{ target_user.first_name|default:"" }} {{ target_user.last_name|default:"" }}</h3>
	{% endif %}
	
	<ul class="details-list">
		<li><strong>Email:</strong> {{ target_user.user.email }}</li>
			
		{% if target_user.town %}
			<li><strong>Hometown:</strong> {{ target_user.town }}</li>
		{% endif %}
				
		{% if target_user.phone %}
			<li><strong>Phone:</strong> {{ target_user.phone }}</li>
		{% endif %}
	</ul>
	
	{% ifequal target_user current_user %}
		<p class="post-footer">	
			<a href= "/profile?user={{ target_user.key.id }}&amp;edit=True">Edit</a> 	
		</p>
	{% endifequal %}


	{% if rideoffers %}
		{% ifequal target_user current_user %}
			<h2>my rides</h2>
		{% else %}
			<h2>their rides</h2>
		{% endifequal %}

		<table>
			<tr>
				<th>Ride</th>
				<th>Date</th>
				<th>Total Seats</th>
			</tr>
			{% for rideoffer in rideoffers %}
				{% for ride in rideoffer.rides %}
					<tr class="row-a">
						<td><a href="/rideoffer?id={{ rideoffer.key.id }}">{{ rideoffer.source.address }} - {{ rideoffer.destination.address }}</a></td>
						<td>{{ ride.date }}</td>
						<td>{{ ride.total_seats }}</td>
					</tr>
				{% endfor %}
			{% endfor %}
		</table>
	{% endif %}
	
{% endblock %}