{% extends "templates/base.html" %}

{% block javascript %}
<script src="http://www.google.com/jsapi?key={{ google_calendar_key }}" type="text/javascript"></script>

<script src="/scripts/scriptaculous/1.8.1/prototype.js" type="text/javascript"></script>

<script src="/scripts/google-calendar/cal_Auth.js" type="text/javascript"></script>


<script type="text/javascript" language="javascript">
	// <![CDATA[

	document.observe('dom:loaded', function() {
		// show map
		$('map_canvas').show();
		$('map_canvas').setStyle({
			width: '400px',
			height: '400px'
		});
	});

	// ]]>
</script>
{% endblock %}

{% block title%}View Ride{% endblock %}

{% block main %}

<!--this img for calendar scripts loading purpose, do not remove-->
<img src="images/rss.gif" style="position:absolute; top: -1000px;" />

	<h2>view ride</h2>
	<h3>{{ ride.get_name }}</h3>

	<p> <!-- ride details -->
		<strong>Date</strong> {{ ride.date }}<br />

		<strong>Departs from </strong><a href="/location?id={{ ride.source.key.id }}">{{ ride.source.get_addressname }}</a><strong> at </strong>{{ ride.departure_time }} <br />
		<strong>Arrives at </strong><a href="/location?id={{ ride.destination.key.id }}">{{ ride.destination.get_addressname }}</a><strong> at </strong> {{ ride.arrival_time }}<br />
		<strong>Seats </strong> {{ride.count_seats}} <br />
		<p />
		<strong>Driver</strong> <a href="/profile?user={{ ride.owner.key.id }}">{{ ride.owner.user.email }}</a><br />
		<p />
		{% if ride.notes %}
			<strong>Notes</strong> {{ ride.notes|escape }}<br />
		{% endif %}
	<p />


	<!-- calendar scripts begin-->

                 <!--hidden field use to insert into calendar-->
			<input  id="from" type="hidden" value="{{ ride.source.get_addressname }}" />
			<input  id="to" type="hidden" value="{{ ride.destination.get_addressname }}" />
			<input  id="startTime" type="hidden" value="{{ ride.date }}T{{ ride.departure_time }}.00Z" />
			<input  id="endTime" type="hidden" value="{{ ride.date }}T{{ ride.arrival_time }}.00Z" />

			 <input  id="ride_id" type="hidden" value="{{ride.key.id }}" />



		<br/>
	   <form id="log_in"  style="display:none">

		         <!--if no google calendar Token show following field-->
			<strong>Create a google calendar reminder:</strong>&nbsp;&nbsp;&nbsp;<input type="button" class="button" value="Grant access" onClick=" logMeIn(); return false;" >
		</form>
		<form id="wait" style="display:none">
		    <strong>Processing, please wait... </strong>
		</form>
				<!--if has google calendar Token show following field-->

		<form id="add_event" style="display:none"  name="remindForm"  >

		          <strong>Create a google calendar reminder:</strong><br/>

				 <span id="errorMs" style="display:none"><ul class="errorlist"><li>Please enter a time between 5 minutes and 28 days.  </li></ul></span>
				  <table>
				  <tr>
				    <td>
		         <input id="byEmail" class="checkbox" type="checkbox" name="reminder" value="email" >Email&nbsp;&nbsp;&nbsp;
				 </td>
				 <td>
				  <input id="remindTime1" type="text" name="remindTime1" value="30" />


				 <select id="timeBase1">
                   <option>minutes</option>
                   <option>hours</option>
                   <option>days</option>
                 </select>
				    </td>
				 </tr>
				 <tr>
				    <td>
                 <input id="bySms" class="checkbox" type="checkbox" name="reminder"  value="sms" >SMS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				    </td>
					<td>
				 <input id="remindTime2" type="text" name="remindTime2" value="30" />

				 <select id="timeBase2">
                   <option>minutes</option>
                   <option>hours</option>
                   <option>days</option>
                 </select>
				</td>

                </tr>




	</table>


				 <br/>
  <span id="addcalendar">
  </span>
		</form>



	<!--calendar scripts end-->

	<form method="post">
		<h3>
			{{ ride.count_emptyseats }} seat{{ ride.count_emptyseats|pluralize }} available
			{% if ride.count_emptyseats %}<!-- show the request button-->
				<input type="hidden" name="do_request_ride" value="True"/>
				<input class="button"  value="Request a Seat" type="submit">
			{% endif %}
		</h3>

		{% if not requestable %} <!-- show the instruction-->
			<strong>
				Your request for a seat on this ride has been recorded
				and you will be notified when it is approved.
			</strong>
		{% endif %}
	</form>
</p>

{% if has_passengers %}<!-- show passengers -->
<hr />

<table>
	<h2>passengers</h2>
	<tr>
		<th>User</th>
		<th>Date Accepted</th>
	</tr>
	{% for seat in ride.seats %}
	  {% if seat.passenger %}
			<tr class="row-a">
				<td>
					{{seat.passenger.get_name_tag}}
				</td>
				<td>
					{{seat.accepted|date_for_table}}
				</td>
			{% ifequal current_user ride.owner %} <!-- only show "assign seat" if user is owner -->
				{% if has_occurred %}
					<td>
						 <a href="/feedback_create?ride={{ride.key.id}}&amp;on={{seat.passenger.key.id}}">Feedback</a></td>
					</td>
				{% else %}
					<td>
						 <a href="/ride?id={{ride.key.id}}&amp;seat_id={{seat.key.id}}&amp;action=RM">Remove User</a></td>
					</td>
				{% endif %}
			{% endifequal %}
			</tr>
	  {% endif %}
	{% endfor %}
</table>
<!-- end if - show passengers -->
{% endif %}


{% ifequal current_user ride.owner %}{% if ride.passengerrequests.count %} <!-- show passenger requests -->
<hr />

<table>
<h2>passenger requests</h2>
	<tr>
	<th>User</th>
	<th>Date Requested</th>
	</tr>

	{% for prq in ride.passengerrequests %}
		<tr class="row-a">

			<td>
				{{prq.owner.get_name_tag}}
			</td>
			<td>
				{{prq.created|date_for_table}}
			</td>
		{% ifequal current_user ride.owner %} <!-- only show "approve" if user is owner -->
			<td>
				 <a href="/ride?id={{ride.key.id}}&amp;prq_id={{prq.key.id}}&amp;action=APRV">Approve</a></td>
			</td>
		{% endifequal %}
	  </tr>
	{% endfor %}
	</table>


	<!-- end if show passenger requests -->
	{% endif %}
{% endifequal %}

{% if lat_lng_src and lat_lng_des %}
	<p> <!-- Static Google Map -->
	<noscript>
		<h2>map</h2>
		<img class="map_image" src="http://maps.google.com/staticmap?&amp;size=400x400&amp;markers={{lat_lng_src}},reds%7C{{lat_lng_des}},blued&amp;key={{ googlemaps_key }}"/>
	</noscript>
	</p>
	<html xmlns="http://www.w3.org/1999/xhtml">
	  <head>
	  <!-- Javascript Map Version -->
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<title>Google Maps JavaScript API Example</title>
		<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ googlemaps_key }}"
				type="text/javascript"></script>
		<script type="text/javascript">
	 // JavaScript Document
		var bounds = new GLatLngBounds();
		var map;
		var directionsPanel;
		var directions;
		function initialize() {
			var map = new GMap2(document.getElementById("map_canvas"));
			map.setCenter(new GLatLng({{lat_lng_src}}), 13);

			var topRight = new GControlPosition(G_ANCHOR_TOP_RIGHT, new GSize(10,10));
			var bottomRight = new GControlPosition(G_ANCHOR_BOTTOM_RIGHT, new GSize(10,10));
			map.addControl(new GSmallMapControl());

		  //Shows the route between destination and source
			directionsPanel = document.getElementById("route");
			directions = new GDirections(map, directionsPanel);
			directions.load("from: {{ ride.source.address }} to: {{ ride.destination.address }}");

			map.setZoom(map.getBoundsZoomLevel(bounds));
			map.setCenter(bounds.getCenter());
		}
		</script>
	  </head>
	  <body onLoad="initialize()" onUnload="GUnload()">
		<div id="map_canvas" class="map_canvas" style="display: none;"></div>
	  </body>
	</html>

{% endif %}

<p /><hr />



{% if message_list%}  <!-- ride messages -->

<table class="messages">
	{% for message in message_list %}
       <tr class="message-{{ message.style }}"> <td>
        <strong>{{message.title|escape }}</strong><br/>
		<a href="/profile?id={{ message.author.key.id }}">{{message.author.user.email}}</a>{% ifequal message.style "user" %} {% else %} ({{ message.style }}) {% endifequal %}  {{message.created}} <br/>
    </td></tr>
    <tr class="message-text" ><td>
    {{message.text|escape}}
    </td></tr>
    <tr class="message-space"></tr>
	{% endfor %}
</table>

{% endif %}

<form method="post"> <!-- message form -->
<h3>post a message</h3>
	<div class="inputgroup">
			<strong>Title </strong><input type="text" name="message_title" />
		  </div>

			<div>
			<strong>Type your message here</strong>
			<textarea name="message_body"></textarea>

			<input type="hidden" name="do_post_message" value="True"/>
			<input class="button" value="Submit" type="submit"/>
	</div>
</form>


<p /><hr />
<p />
{% endblock %}
