{% extends "templates/base.html" %}

{% block title%}Ride Offer{% endblock %}

{% block main %}
	<h2>Ride Offer</h2>
	
	<p>
		<code>
			<strong>Owner</strong> <a href="/profile?user={{ target_ride.owner.key.id }}">{{ target_ride.owner.user.email }}</a><br />
			<strong>Source</strong> {{ target_ride.source.name }}<br />
			<strong>Destination</strong> {{ target_ride.destination.name }}<br />
			<strong>Date</strong> {{ target_ride.date }}<br />
			{% if target_ride.time %}
				<strong>Time</strong> {{ target_ride.time }}<br />
			{% endif %}
			<strong>Available Count</strong> {{ target_ride.available_seats }}<br />
			
			{% if target_ride.notes %}
				<strong>Notes</strong><br />
				{{ target_ride.notes }}<br />
			{% endif %}
		</code>
	</p>
	
	<p class="post-footer">		
		<a href="/rideoffer_edit?id={{ target_ride.key.id }}" class="edit">Edit</a>	
	</p>
{% endblock %}