{% extends "templates/base.html" %}

{% block title%}View Ride{% endblock %}

{% block main %}
	<h2>view ride</h2>
	<p> <!-- ride --!>
			<strong>Owner</strong> <a href="/profile?user={{ ride.owner.key.id }}">{{ ride.rideoffer.owner.user.email }}</a><br />
			<strong>From</strong> <a href="/location?id={{ ride.rideoffer.source.key.id }}">{{ ride.rideoffer.source.name }}</a>
			<strong>To</strong> <a href="/location?id={{ ride.rideoffer.destination.key.id }}">{{ ride.rideoffer.destination.name }}</a><br />
			<p />
			<td><strong>Date</strong> {{ ride.date }}<br />
			<strong>Departs at</strong> {{ ride.departure_time }} <strong> Arrives at</strong> {{ ride.arrival_time }}</td>


			{% if ride.notes %}
				<strong>Notes</strong> {{ rideoffer.notes }}<br />
			{% endif %}
			<p />

	 <form method="post"><!-- show the form-->

      <input type="hidden" name="do_request_ride" value="True">
	  <input class="button"  value="Request a Seat" type="submit">

	  {% if requested %} <!--if a ride has been requested this template_value will be TRUE -->
		<code><strong>
		   Your request for a seat on this ride has been sent
		   and you will be notified when it is approved
		</strong></code>

		{% endif %}
    </form>


	</p>

	<h3>{{ride.seats.count }} Seats</h3>

	<p> <!-- show assigned seats --!>

  <table>
  	<h3>Passengers</h3>
  	<tr>
	<th>User</th>
    <th>Date</th>
	</tr>
  	{% for seat in ride.seats %}
  	  {% if seat.passenger %}
			<tr class="row-a">
			<td>
				 <a href="/profile?id={{ seat.passenger.owner.key.id }}">{{seat.passenger.owner.user.email}}</a></td>
			</td>
			{% ifequal current_user ride.rideoffer.owner %} <!-- only show "assign seat" if user is owner --!>
				<td>
					 <a href="/">Remove</a></td> <!--TODO-->
				</td>
			{% endifequal %}
		  	</tr>
	  {% endif %}
	{% endfor %}
	</table>

	</p>

	<p> <!-- show passenger requests --!>

	<table>
	<h3>Open Passenger Requests for this Ride</h3>
      	<tr>
		<th>User</th>
        <th>Date</th>
		</tr>

      	{% for prq in ride.passengerrequests %}
			<tr class="row-a">

			<td>
				 <a href="/profile?id={{ prq.owner.key.id }}">{{prq.owner.user.email}}</a></td>
			</td>
			{% ifequal current_user ride.rideoffer.owner %} <!-- only show "assign seat" if user is owner --!>
				<td>
					 <a href="/ride?id={{ride.key.id}}&prq_id={{prq.key.id}}&action=APRV">Approve</a></td>
				</td>
			{% endifequal %}
		  </tr>
		{% endfor %}
		</table>

	</p>
	<p> <!-- Static Google Map -->
	<h3>Map</h3>
	<img src="http://maps.google.com/staticmap?&size=400x400&markers={{lat_lng_src}},reds%7C{{lat_lng_des}},blued&key={{key}}"/>
    </p>

{% endblock %}