{% extends "templates/base.html" %}

{% block title%}View Ride Request{% endblock %}

{% block main %}

<script src="/scripts/scriptaculous/1.8.1/prototype.js" type="text/javascript"></script>
<script src="/scripts/scriptaculous/1.8.1/scriptaculous.js" type="text/javascript"></script>
<script src="/scripts/roadmate/edit.js" type="text/javascript"></script>

	<h2>view ride request</h2>
	<h3>{{ riderequest.get_name }}</h3>

	<p> <!-- Ride Request Details -->
		<strong>Date</strong> {{ riderequest.date }}<br />
		<strong>From </strong><a href="/location?id={{ riderequest.source.key.id }}">{{ riderequest.source.get_addressname }}</a><br />
		<strong>To </strong><a href="/location?id={{ riderequest.destination.key.id }}">{{ riderequest.destination.get_addressname }}</a><br />
		<p />

		<strong>User</strong> <a href="/profile?user={{ riderequest.owner.key.id }}">{{ riderequest.owner.user.email }}</a><br />
		<p />



		</li>
		{% if riderequest.notes %}
			<strong>Notes </strong><editvalue id='notes'> {{ riderequest.notes }}</editvalue>
			{% ifequal current_user riderequest.owner %}<script>editTextControl('notes', '/edit_riderequest?id=' + {{riderequest.key.id}})</script>{% endifequal %}

		{% endif %}
		<p />

	</p>


{% if lat_lng_src and lat_lng_des %}
	<p> <!-- Static Google Map -->
		<h2>map</h2>
		<img src="http://maps.google.com/staticmap?&amp;size=400x400&amp;markers={{ riderequest.source.get_lat_loc }},reds%7C{{ riderequest.destination.get_lat_loc }},blued&amp;key={{ googlemaps_key }}"/>
	</p>
{% endif %}

<p /> <hr />
{% endblock %}
