{% extends "templates/base.html" %}

{% block title%}Ride Offer{% endblock %}

{% block main %}
	<h2>View Ride</h2>
	<p> <!-- ride --!>
			<strong>Owner</strong> <a href="/profile?user={{ ride.owner.key.id }}">{{ ride.rideoffer.owner.user.email }}</a><br />
			<strong>From</strong> <a href="/location?id={{ ride.rideoffer.source.key.id }}">{{ ride.rideoffer.source.name }}</a>
			<strong>To</strong> <a href="/location?id={{ ride.rideoffer.destination.key.id }}">{{ ride.rideoffer.destination.name }}</a><br />
			<p />
			<td><strong>Date</strong> {{ ride.date }}<br />
			<strong>Departs at</strong> {{ ride.departure_time }} <strong> Arrives at</strong> {{ ride.arrival_time }}</td>


			{% if ride.notes %}
				<strong>Notes</strong> {{ rideoffer.notes }}<br />
			{% endif %}

	</p>
	<p> <!-- seats --!>

	      <h3>Seats</h3>
	      <table>
	      	{% for seat in ride.seats %}
				<tr class="row-a">
				<td>
					 <a href="/seat?id={{ seat.key.id }}">View Seat</a></td>
				</td>
				{% ifequal current_user ride.rideoffer.owner %}
				<td>
				    <strong>Passenger</strong><br />{{ seat.passenger.owner.user.email }} <br/>
                    <a href="/seat_assign?id={{ seat.key.id }}">Assign Seat</a></td>
				</td>
				{% endifequal %}
			  </tr>
			{% endfor %}
			</table>

	</p>


{% endblock %}