{% extends "templates/base.html" %}

{% block title%}Support{% endblock %}

{% block main %}

<h2>log in</h2>
<p>
	We require a Google Account for logging in. Click on the link to find out more about how to get a 
	<a href="https://www.google.com/accounts/ManageAccount" target="_blank"> Google Account</a>.
</p>

<h2>profile</h2>
<p>
	<a href="/profile">My Profile</a> is the page where you can view and edit the information about yourself other users can see.</p>
	<p>
	Since it is your own profile you are viewing, you can edit some of the information. If you move your mouse over a field and it turns green, you can click on it, change the value,
	click 'save', and your profile information will be updated. This information is visible to other RoadMate users. </p>
	<p>
	On <a href="/profile">My Profile</a> page you can also see a list of last 10 rides you offered to the other users.
</p>

<h2>offer a ride</h2>
<p>
	If you are driving somewhere and don't feel like traveling on your own, you can <br><a href="/ride_create">offer a ride</a> 
	to other RoadMate users. Simply fill in the details of your ride and click Create.</p>
	<p>
	Start typing in the address box and a list of options will appear in a drop-down menu. Either select one using your mouse
	or arrow buttons or just finish typing.</p>
	<p>
	Once you successfully created a ride its details will appear on a view ride page also showing the map.
</p>

<h2>request a ride</h2>
<p>	
	You can let drivers know that you want a ride by placing a ride request.<br/>
	Your request will show in <a href='/browse_riderequests'>browse ride requests</a> and you will be notified<br/>
	when it is accepted.</p>
	<p>
	Simply fill in the details of your ride on <a href="/riderequest_create">request a ride</a> page and click Create.</p>
	<p>
	Once you successfully created a ride request its details will appear on a view ride request page where you can also post
	a message about the ride.
</p>

<h2>manage my rides</h2>
<p>
	<a href="/myrides">Manage My Offered Rides</a> page displays all future rides you are offering to other RoadMate users and 
	a list of up to 10 rides you offered in the past.</p>
	<p>
	When you click on a listed ride a view ride page will display all its details including Google Map showing the route.
	On this page you can also add the ride event to your Google Calendar, accept passengers wishing to join your ride 
	or place a feedback on passengers you shared a ride with in the past.</p>
	<p>
	Once you successfully created a ride its details will appear on a view ride page also showing the map.
</p>

<h2>manage my bookings</h2>
<p>
	<a href="/mybookings">Manage My Bookings</a> page displays all the rides you have been accepted on as a passenger.
</p>

<h2>browse all rides </h2>
<p>	
	<a href="/browse_rides">Browse rides</a> allows users to search available rides by specifying source and destination. 
	Type in the source and destination and click on search. Two circles will appear on the map below, blue for source (from address)
	and green for destination (to address). All available rides going from the area covered by blue circle to the area covered by the
	green circle will appear as labels within the circles.</p>
	<p>
	You can move the position of each circle by clicking on the cross marker in its middle and dragging it around. You can also change 
	the radius of each circle by dragging the "circle with arrows" marker closer to or further away from its center.</p>
	<p>
	Alternatively you can click anywhere on the map to place the blue "source" circle and then click again to place the green "destination" 
	circle without any typing.
</p>

<h2>browse ride requests</h2>
<p>
	<a href="/browse_riderequests">Browse Ride Requests</a> page displays a list of requests for rides that other users would 
	like to take. By accepting their request and creating a ride, the requesting user will be automatically notified.
</p>

<h2>discussion</h2>
<p>
	RoadMate users can ask questions and write comments about any ride. Simply select the ride you want to discuss and at the bottom of 
	the view ride page start a new discussion by typing a message in the text box provided or join in the existing conversation.
</p>

<h2>feedback</h2>
<p>
	You can place a feedback on passengers or a drive of a ride you took part in.</p>
	<p>
	If you were a passenger view <a href="/mybookings">Manage My Bookings</a> select the past ride and follow the Place Feedback link 
	next to the user name of a person you wish to provide feedback on.</p>
	<p>
	If you were a driver view <a href="/myrides">Manage My Offered Rides</a>, select the past ride and follow the Place Feedback link 
	next to the user name of a person you wish to provide feedback on. </p>
	<p>
	For every positive rating the user gets his/her social score displayed in the brackets next to the user name will be incremented by 1. 
	If the feedback is neutral, the social score doesn't change and for every negative rating the social score gets decremented by 1. So the higher the 
	score someone has the more likely you are to enjoy sharing a ride with them. And watch out for those negative scores!!!

</p>

<p><h1>Support contact:</h1></p>

<p>

<table width="512" border="0">
	<tr>
		<td colspan="3">Contact Center:</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>Name:</td>
		<td>XXXXX</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>Phone:</td>
		<td>XXXXX</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>Email:</td>
		<td><a href="mailto:software.group.356@gmail.com">software.group.356@gmail.com</a></td>
	</tr>
</table>

</p>

{% endblock %}
