{% extends "templates/base.html" %}

{% block title%}Support{% endblock %}

{% block main %}





<p><h1>General use of our web site</h1></p>
  <p>
   <dt>Log In and Register</dt>
   <dd>we require open id for log in . Open id is a easy way to use a single identity cross the Internet. for more details 
   <a href="http://openid.net/">how to get a open id</a>
   </dd>
   <dt>want a ride</dt>
   <dd>use your open id to log in. link to <a href="">want ride page</a> and submit your request form. Once you successful submit,you will be able to see your request from main page. more details see <a href="#">user manual</a> </dd>
   <dt>offer ride</dt>
   <dd>
   use your open id to log in. link to <a href="">offer ride page</a> and submit your offer form. Once you successful submit,you will be able to see your offer details from main page. more details see <a href="#">user manual</a>
   </dd>
   <dt>searching </dt>
   <dd> using our search engine, users are able to search trips by destination's name and trips date.<a href="#">more details</a></dd>
   <dt>profile</dt>
   <dd>After you register with us , we will record your ride information in this profile . Users may view your profile to decide whether or not accept your offer or share their cars with you. </dd>
   
    </p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><h1>Support contact:</h1></p>

<p>

<table width="512" border="0">
  <tr>
    <td colspan="3">technical support:</td>
  </tr>
  <tr>
    <td width="113">&nbsp;</td>
    <td width="131">Name:</td>
    <td width="246">XXXX</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Phone:</td>
    <td>06 XXXXXXXX</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Email:</td>
    <td><a href="mailto:roadmate@rd.com">roadmate@rd.com</a></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">contact center:</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Name:</td>
    <td>XXXXX</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Phone:</td>
    <td>06XXXX</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Email:</td>
    <td><a href="mailto:roadmate@rd.com">roadmate@rd.com</a></td>
  </tr>
</table>
</p>

{% endblock %}